<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">
        YelpCamp
      </p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card ">
        <img class="card-img-top" src="<%= campground.image %>"/>
        <div class="card-body">
          <h4 class="float-right mt-2">$9.99/night</h4>
          <h1 class="card-title"><a href="#"><%= campground.name %></h1></a>
          <p>
            <%= campground.description %>
          </p>
          <p>
            <em>Submitted by <strong><%= campground.author.username %></strong></em>
          </p>
          <%if (currentUser && campground.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-info btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
            <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger btn-sm">Delete</button>
            </form>
          <% } %>

      </div>
    </div>
    <div class="card mt-2 bg-light">
        <div class="card-body">
          <p class="float-right">
            <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
          </p>
          <h3 class="card-title">Comments</h3>
          <div class="clearfix"></div>
          <hr />
          <% campground.comments.forEach(function(comment) { %>
            <div class="row">
              <div class="col-md-12">
                <strong><%= comment.author.username %></strong>
                <span class="float-right">10 days ago</span>
                <p>
                  <%= comment.text %>
                </p>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
  </div>
</div>



<% include ../partials/footer.ejs %>
